* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  min-height: 500px;
}

/* GLOBAL */
h1,
h2 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.75rem;
}

h2 {
  font-size: 3rem;
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  padding-top: 50px;
}

/* NAVBAR */
.navbar {
  padding: 0 !important;
}

.nav-link {
  color: #333;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
}

/* WELCOME SECTION */
.welcome-section {
  background: linear-gradient(210deg, #262626 0%, #69717e 100%);
}

.welcome-section__text-box--sub {
  font-size: 2rem;
  font-weight: 300;
}

/* PROJECTS SECTION */
.projects-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .projects-section {
    padding-top: 100px;
    height: auto;
  }
}

.projects-section .section-heading {
  color: #333;
}

.projects-section .section-heading::after {
  display: block;
  content: ' ';
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #0056b3;
}

.grid {
  margin-bottom: 50px;
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 992px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  min-width: 300px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 50px;
  }
}

/* CONTACT */
.contact-section {
  background: linear-gradient(30deg, #262626 0%, #69717e 100%);
}

.contact-section .section-heading {
  color: #eee;
}

.contact-section .section-heading::after {
  background-color: #0056b3;
  -webkit-box-shadow: 2px 2px 1px #1f1f1f;
          box-shadow: 2px 2px 1px #1f1f1f;
}

.contact-section .contact-options {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.contact-section .contact-options__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #eee;
  text-decoration: none;
  text-shadow: 2px 2px 1px #1f1f1f;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.contact-section .contact-options__link:hover {
  color: #eee;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.contact-section .contact-options__icon {
  font-size: 2rem;
  margin-right: 5px;
}
/*# sourceMappingURL=style2.css.map */