* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    min-height: 500px;
}



.navbar {
    padding: 0 !important;
}

.nav-link {
    color: #333;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-top: 50px;
}

/* ====== WELCOME SECTION ====== */
#welcome-section { 
    background: linear-gradient(210deg, rgba(38,38,38,1) 0%, rgba(105,113,126,1) 100%);
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.75rem;
}

h2 { font-size: 3rem; }

#projects h2 {
    color: #333;
}

#welcome-msg p {
    font-size: 2rem;
    font-weight: 300;
}

/* ====== PROJECTS ====== */
#projects {
    justify-content: flex-end;
}

.grid {
    margin-bottom: 50px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section-heading::after {
    display: block;
    content: " ";
    width: 200px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0056b3;
}

.card {
    min-width: 300px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Up to Large devices (laptops/desktops, 992px) */
@media (max-width: 992px) {
    #projects {
        padding-top: 100px;
        height: auto;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 50px;
    }
}


/* ===== CONTACT ===== */
#contact {
    background: linear-gradient(30deg, rgba(38,38,38,1) 0%, rgba(105,113,126,1) 100%);
}

.section-heading {
    color: #eee;
}

#contact .section-heading::after {
    background-color: #0056b3;
    box-shadow: 2px 2px 1px #1f1f1f;
}

.contact-options {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.contact-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #eee;
    text-decoration: none;
}

a.contact-link {
    text-shadow: 2px 2px 1px #1f1f1f;
    text-decoration: none;
    transition: transform 0.3s ease-out;
    
}

a.contact-link:hover {
    color: #eee;
    transform: translateY(8px);
}

.contact-link i {
    font-size: 2rem;
    margin-right: 5px;
}